@import "../assets/variables/variables.scss";
.bg-image {
  background-image: url("../assets/images/Abstract\ Backgroung.png");
}
.carbonBody {
  background-color: $color-yellow;
}
.text-1 {
  background-color: $white;
  color: $color-primary;
  font-weight: 700;
  font-size: 1.8em;

  @media screen and (max-width: 991px) {
    font-size: 1.2em;
  }
}
.carbon {
  &__heading {
    font-size: 3.5em;
    font-weight: 700;
    @media (max-width: 992px) {
      font-size: 3em;
    }

    @media (max-width: 768px) {
      font-size: 2.5em;
    }

    @media (max-width: 480px) {
      font-size: 1.8em;
    }
  }
  &__text {
    font-size: 1.5em;
    font-weight: 500;

    @media (max-width: 992px) {
      font-size: 1.3em;
    }

    @media (max-width: 768px) {
      font-size: 1.2em;
      max-width: 90%;
      margin: 0 auto;
    }

    @media (max-width: 480px) {
      font-size: 1em;
    }
  }
}
