<div class="bg-image"><header appHeader></header></div>
<div class="carbonBody">
  <section class="py-8">
    <div class="text-center my-2">
      <span class="text-1 p-2 rounded-3xl">Why Carboncrunch</span>
    </div>
    <h2 class="text-center carbon__heading">
      Leading Sustainability with Carboncrunch
    </h2>
    <p class="text-center carbon__text">
      GHG (Greenhouse Gas) Accounting is a framework used to measure and report
      greenhouse gas emissions.
    </p>
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-20">
        @for (item of card; track $index) {

        <p-card appCard [heading]="item.title" [content]="item.text"></p-card>

        }
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="text-center my-2">
      <span class="text-1 p-2 rounded-3xl">How It works?</span>
    </div>
    <h2 class="text-center carbon__heading">Getting Started is easy</h2>
    <p class="text-center carbon__text">How carboncrunch SAAS works</p>
    <div class="container py-8">
      <app-tabs></app-tabs>
    </div>
  </section>

  <div class="container">
    <img class="block mx-auto" src="assets/images/Frame 8.png" alt="" />
  </div>
</div>
